/* Book.css */
.book-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0;
  background-color:lightgreen;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}



.book-title {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 5px;
}

.book-author {
  font-size: 1rem;
  color: #7f8c8d;
  margin-bottom: 10px;
}

.toggle-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-btn:hover {
  background-color: #2980b9;
}

.book-description {
  margin-top: 10px;
  font-size: 0.95rem;
  color: #555;
}
